header{
    padding: 2rem 2rem 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 3rem;
        color: rgb(74, 61, 255);

    }
}
.productos{
    padding: 3rem;
    display: flex;
}
.card{
    margin: 1rem;
}
.img3{
    margin-top: 1rem;
}